* {
	margin: 0;
	padding: 0;
}

body {
	background: #edeef0;
}

.adapt-img {
	max-width: 100%;
	height: auto;
	margin: 10px auto;
    display: block;
}

.main-navbar {
	background: #507299;
    height: 42px;
    border-bottom: 1px solid #466991;
    color: white!important;
}

.main-navbar-wrap {
	background: #507299;
}


.navbar-brand {
	color: white!important;
}

.main-navbar a {
	color: white!important;
}

.navbar-default .active>a,
.navbar-default a:focus, 
.navbar-default a:hover {
	background: #486991!important;
}

.dashboard-item {
	padding: 4px!important;
	opacity: 0.6;
}

.dashboard-item:hover {
	opacity: 1;
	cursor: pointer;
}

.dashboard-item:active {
	background: #ffffd6;
}

.item-content {
	background: white;
	padding: 10px;
}

.item-icon {
	font-size: 80px;
	vertical-align: middle;
}

.item-icon--blue {
	color: #0D47A1;
}

.item-icon--green {
	color: #004D40;
}

.item-icon--orange {
	color: #E65100;
}

.item-icon--brown {
	color: #3E2723;
}

.item-icon--red {
	color: #D50000;
}

.item-icon--yellow {
	color: #FFD600;
}

.navbar-toggle {
	border: none!important;
	padding: 10px!important;
	margin: 0px!important;
}

.navbar-toggle:hover, .navbar-toggle:focus {
	background: #486991!important;
}

.footer {
	padding: 10px;
}