<div class="container">
	<div class="row">
		<div class="col-md-2 col-xs-12">
			<ul class="nav nav-pills nav-stacked admin-menu">
				<li class="active">
					<a href="#profile_manager" data-target-id="establishment">
						<i class="fa fa-home fa-fw"></i> 
						Менеджер пользователей 
					</a>
				</li>
				<li>
					<a href="#feedback" data-target-id="administration">
						<i class="fa fa-list-alt fa-fw"></i> 
						Обратная связь 
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#" data-target-id="finance">
						<i class="fa fa-file-o fa-fw"></i> 
						Выход 
					</a>
				</li>
			</ul>
		</div>
		<h2>Пользователи</h2>
		<div class="col-md-10 col-xs-12 well main-content">

			<table class="table table-hover" id="table" >
			    <thead>
			        <tr>
			            <th>Логин</th>				            				           
			            <th>ФИО</th>				            				           
			            <th>Группа пользователя</th>				            				           
			            <th>Дата регистрации</th>				            				           
			            <th>Статус</th>				            				           
			            <th></th>				            				           
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td><a href="#">admin-test@mail.ru</a></td>				            
			            <td>Администратор Администраторович</td>				            
			            <td>Администратор</td>				            
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>					            
			        </tr>
			        <tr>
			            <td><a href="#">vladonxp@mail.ru</a></td>				           
			            <td>Петроченко Владислав Юрьевич</td>
			            <td>Менеджер</td>
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>								           
			        </tr>
			        <tr>
			            <td><a href="#">admin-test@mail.ru</a></td>				            
			            <td>Администратор Администраторович</td>				            
			            <td>Администратор</td>				            
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>					            
			        </tr>
			        <tr>
			            <td><a href="#">vladonxp@mail.ru</a></td>				           
			            <td>Петроченко Владислав Юрьевич</td>
			            <td>Менеджер</td>
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>								           
			        </tr>	
			        <tr>
			            <td><a href="#">admin-test@mail.ru</a></td>				            
			            <td>Администратор Администраторович</td>				            
			            <td>Администратор</td>				            
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>					            
			        </tr>
			        <tr>
			            <td><a href="#">vladonxp@mail.ru</a></td>				           
			            <td>Петроченко Владислав Юрьевич</td>
			            <td>Менеджер</td>
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>								           
			        </tr>	
			        <tr>
			            <td><a href="#">admin-test@mail.ru</a></td>				            
			            <td>Администратор Администраторович</td>				            
			            <td>Администратор</td>				            
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>					            
			        </tr>
			        <tr>
			            <td><a href="#">vladonxp@mail.ru</a></td>				           
			            <td>Петроченко Владислав Юрьевич</td>
			            <td>Менеджер</td>
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>								           
			        </tr>	
			        <tr>
			            <td><a href="#">admin-test@mail.ru</a></td>				            
			            <td>Администратор Администраторович</td>				            
			            <td>Администратор</td>				            
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>					            
			        </tr>
			        <tr>
			            <td><a href="#">vladonxp@mail.ru</a></td>				           
			            <td>Петроченко Владислав Юрьевич</td>
			            <td>Менеджер</td>
			            <td>29.04.2015 16:10:34</td>				            
			            <td>Активен</td>
			            <th>
			            	<button class="btn btn-success">Редактировать</button>			            	
			            </th>								           
			        </tr>				       
			    </tbody>
			</table>
		</div>
	</div>
</div>
