<h4>Личный кабинет пользователя <a href="">Петроченко Владислав</a></h4>
<hr>
<div class="content-area">			
	<div class="row">
		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<a class="item-link" href="#!page=profile">
				<div class="item-content">
					<i class="material-icons item-icon item-icon--blue">&#xE7FF;</i> Профиль пользователя
				</div>
			</a>	
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<a class="item-link" href="#!page=projects">
				<div class="item-content">
					<i class="material-icons item-icon item-icon--green">&#xE2C8;</i> Список проектов
				</div>
			</a>
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<a class="item-link" href="#!page=new_project">
				<div class="item-content">
					<i class="material-icons item-icon item-icon--orange">&#xE2CC;</i> Добавить новый проект
				</div>
			</a>	
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<a class="item-link" href="#!page=settings">
				<div class="item-content">
					<i class="material-icons item-icon item-icon--brown">&#xE8B8;</i> Настройки
				</div>
			</a>	
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<a class="item-link" href="#!page=stats">
				<div class="item-content">
					<i class="material-icons item-icon item-icon--red">&#xE922;</i> Статистика
				</div>
			</a>
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<a class="item-link" href="#!page=results">
				<div class="item-content">
					<i class="material-icons item-icon item-icon--yellow">&#xE85C;</i> Результаты
				</div>
			</a>	
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<a class="item-link" href="#!page=feedback">
				<div class="item-content">
					<i class="material-icons item-icon">&#xE0E1;</i> Обратная связь
				</div>
			</a>	
		</div>
		
	</div>
</div>
<hr>