<h4>Личный кабинет пользователя <a href="">Петроченко Владислав</a></h4>
<hr>
<div class="content-area">			
	<div class="row">
		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<div class="item-content">
				<i class="material-icons item-icon item-icon--blue">&#xE7FF;</i> Профиль пользователя
			</div>
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<div class="item-content">
				<i class="material-icons item-icon item-icon--green">&#xE2C8;</i> Список проектов
			</div>
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<div class="item-content">
				<i class="material-icons item-icon item-icon--orange">&#xE2CC;</i> Добавить новый проект
			</div>
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<div class="item-content">
				<i class="material-icons item-icon item-icon--brown">&#xE8B8;</i> Настройки
			</div>
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<div class="item-content">
				<i class="material-icons item-icon item-icon--red">&#xE922;</i> Статистика
			</div>
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<div class="item-content">
				<i class="material-icons item-icon item-icon--yellow">&#xE85C;</i> Результаты
			</div>
		</div>

		<div class="dashboard-item col-xs-12 col-md-6 col-lg-4">
			<div class="item-content">
				<i class="material-icons item-icon">&#xE0E1;</i> Обратная связь
			</div>
		</div>
		
	</div>
</div>
<hr>