<h2>Создание нового проекта</h2>

<div class="row form-group">	
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
		<label for="project-title">Наименование проекта</label>	
		<input type="text" id="project-title" class="form-control" placeholder="группа жильцов дома №2">
	</div>
</div>

<div class="row form-group">	
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
		<label for="project-description">Описание проекта</label>	
		<textarea id="project-description" class="form-control" placeholder="Проект создан с целью обеспечения коммуникации между жильцами дома"></textarea>
	</div>
</div>

<div class="row form-group">	
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
		<label for="project-type">Предметная область</label>
		<select id="project-type" class="form-control">
			<option value="1">Домоуправление</option>
			<option value="2">Общественные советы</option>
			<option value="3">Кооперативы</option>
			<option value="4">Администрация группы в социальных сетях</option>
		</select>	
	</div>
</div>

<div class="row form-group">	
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
		<label for="project-group">Группа в VK</label>	
		<input type="text" id="project-group" class="form-control" placeholder="ID группы" disabled>
		
		<label for="project-group">Создать новую</label>	
		<input type="radio" id="project-group">
	</div>	
</div>

<div class="row form-group">	
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
		<label for="project-group">Группа в OK.ru</label>	
		<input type="text" id="project-group" class="form-control" placeholder="ID группы">
		
		<label for="project-group">Создать новую</label>	
		<input type="radio" id="project-group">
	</div>	
</div>

<div class="row form-group">	
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
		<label for="project-group">Группа в Facebook</label>	
		<input type="text" id="project-group" class="form-control" placeholder="ID группы">
		
		<label for="project-group">Создать новую</label>	
		<input type="radio" id="project-group">
	</div>	
</div>

<div class="row form-group">	
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
		<input type="button" class="btn btn-success" value="Создать проект">
	</div>	
</div>