<h2>Сервис кросспостинга в социальные сети</h2>
<hr>
<div class="content-area">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-4">
			<img class="adapt-img" src="res/img/megaphone.jpg" alt="" title="">
			<p>Удобная платформа для обсуждения и объявления.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<img class="adapt-img" src="res/img/communicate.jpg" alt="" title="">
			<p>Коммуницируйте с людьми из различных социальных сетей.</p>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<img class="adapt-img" src="res/img/statistic.jpg" alt="" title="">	
			<p>Модуль статистики, который поможет вам определиться с выбором.</p>
		</div>
	</div>
</div>
<hr>