<div class="remodal auth-wrapper" data-remodal-id="auth">
	<button data-remodal-action="close" class="remodal-close"></button>
	<div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Запомнить меня
                </label>
            </div>
            <button class="btn btn-lg btn-success btn-block btn-signin" type="submit">Войти</button>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Регистрация</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Забыли пароль?
        </a>
    </div>
</div>