<div class="remodal register-wrapper register-wrapper" data-remodal-id="register">
	<button data-remodal-action="close" class="remodal-close"></button>
	<form class="form-horizontal" action='' method="POST">
		<fieldset>
			<div id="legend">
			  <legend class="">Регистрация</legend>
			</div>
			
			<div class="alert alert-info">
			  <strong>Внимание!</strong> Для прохождения регистрации необходимо указать действующий e-mail адрес.
			</div>

			<div class="control-group">
			  <!-- E-mail -->
			  <div class="controls">
			    <input type="text" id="email" name="email" placeholder="vladonxp@mail.ru" class="input-xlarge form-control">
			    <p class="help-block">На данный e-mail будет отправлено подтверждение процедуры регистрации.</p>
			  </div>
			</div>

			<div class="control-group">
			  <!-- Button -->
			  <div class="controls">
			    <button class="btn btn-lg btn-success">Зарегистрироваться</button>
			  </div>
			</div>
		</fieldset>
	</form>
</div>